.pl-15 { padding-left: 15rem; }
.pt-3 {padding-top:3rem}
.px-15{padding-inline: 15rem;}
.mt-10{margin-top:10rem;}
.px-10{padding-inline: 10rem;}
.px-8{padding-inline: 8rem;}
.my-10 {margin-block:10rem;}